{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
{% block title %}
Document
{% endblock title %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <h2>All the food that's fit to eat</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'home' %}">My receipts</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                <td>{{ receipt.vendor }}</td>
                <td>{{ receipt.total }}</td>
                <td>{{ receipt.tax }}</td>
                <td>{{ receipt.date|date:"m/d/y" }}</td>
                <td>{{ receipt.category }}</td>
                <td>{{ receipt.account }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}
